/*This is where i am styling paragraphs with CSS */

p{
    color: darkslateblue;
    font-weight: bold;
}
/*This is where i am styling header 2 CSS */

h2{
    color: blueviolet;
    text-decoration: underline;
}
/*This is where i am styling tables CSS */

