<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href ="/static/css/style.css" rel="stylesheet">
</head>
<body>
        <!--This is Victoria's first time writing an HTML file -->
        <h1>Who Is Victoria?</h1>
        <h2>Early Life</h2>
        <p>I am from New Jersey. I have lived there all of my life.</p>
        <p class="small-green">I am 21 years old, so I was born in 2002.</p>
        <h2>Education</h2>
        <p id="third-one">I currently study at the <strong>University of Maryland.</strong></p>
        <p>I am an <em>Information Systems</em> major.</p>
        <!--This is where Victoria is practicing lists and tables-->
        <h2>Some of Victoria's Favorite Things</h2>
        <ul>
            <li>Disney World</li>
            <li>Coding</li>
            <li>Excel</li>
            <li>Going on Walks</li>
        </ul>
        <h2> Victoria's Favorite TV Shows (In Order)</h2>
        <ol>
            <li>Parks and Recreation</li>
            <li>The Middle</li>
            <li>The Goldbergs</li>
            <li>Gilmore Girls</li>
        </ol>
        <h2>Victoria's Favorite Courses</h2>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>AMST204</td>
                <td>Spring 2022</td>
            </tr>
            <tr>
                <td>BMGT476</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                 <td>BMGT298A</td>
                <td>Fall 2022</td>
            </tr>
        </table>
        <!--This is where Victoria is practicing adding links to her page-->
        <h2>Victoria's Hello Page</h2>
        <p>A link to Victoria's <a href="/hello">Hello Page</a></p>
        <h2>Victoria's Favorite Links and Websites</h2>
        <p>One of Victoria's favorite websites is <a href="https://www.nytimes.com/crosswords"> New York Times Games Page</a>.</p>
        <p>Another one of Victoria's favorite websites is <a href="https://events.dancemarathon.com/index.cfm?fuseaction=donorDrive.event&eventID=5733" target="_blank">Terp Thon's Fundraising Page</a>.</p>
        <h2>Victoria's Business School Logo</h2>
        <p>Here is the logo of Victoria's School.</p>
        <img.logo src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">
</body>
</html>