<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
   <h2>Contact Information</h2>


{% block page_content %}
      {%  if form_submitted %}
        <div class = "col-12">
            <h4>Thank you for submitting your contact information! Below is the information you submitted:</h4>
        </div>
        <div class = "col-md-6" >
            <h5>First Name: </h5>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('first_name') }}</p>
        </div>
      <div class = "col-md-6" >
            <h5>Last Name: </h5>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('last_name') }}</p>
        </div>
      <div class = "col-md-6" >
            <h5>Email Address: </h5>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('email_address') }}</p>
        </div>
      <div class = "col-md-6" >
            <h5>Phone Number: </h5>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('phone_number') }}</p>
        </div>


      {% else %}
        <form class = "m-3" action= "{{ url_for('contact') }}" method ='post'>
            <div class="col-md-6">
                <label for="first_name" class = "form-label">First Name</label>
                <input  class = "form-control" id="first_name" name ="first_name">
            </div>
            <div class="col-md-6">
                <label for="last_name" class = "form-label">Last Name</label>
                <input  class = "form-control" id="last_name" name ="lasst_name">
            </div>
            <div class="col-md-6">
                <label for="email_address" class = "form-label">Email Address</label>
                <input  class = "form-control" id="email_address" name ="email_address">
            </div>
            <div class="col-12">
                <label for="phone_number" class = "form-label">Phone Number</label>
                <input  class = "form-control" id="phone_number" name ="phone_number">
            </div>
               <button type = "submit" class = "btn btn-primary"> Submit</button>
        </form>
      {% endif %}
{% endblock %}
